python==3.10.4
torch==1.12.1
cudatoolkit==10.2.89
numpy~=1.21.5
ipython==8.10.0
jupyter==1.0.0
tqdm~=4.67.1
pandas~=1.2.4
scikit-learn~=1.6.1
scipy~=1.10.0
pickle
yaml~=0.2.5

pyyaml~=6.0.1
seaborn~=0.13.2
matplotlib~=3.5.1
requests~=2.25.1